<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>star wars</title>
</head>
<body class="cuerpo">
    <header class="cabecera">
        <h1>Star Sars Fan Page</h1>
    </header>
    <na>
        <ul>
            <li><a>Inicio</a></li>
            <li><a></a>Nosotros</li>
            <li><a>Login</a></li>
            <li><a>Extra</a></li>

        </ul>
    </na>
    <main class="principal">
        <div class="fila1">
            <div class="caja1"></div>
            <div class="caja2"></div>
            <div class="caja3"></div>
        </div>

    </main>

    
</body>
</html>